<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.battleofwits">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <permission
        android:name="com.github.Ivanov-81.Battle-of-wits.pn.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="com.github.Ivanov-81.Battle-of-wits.pn.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="1:228738336337:android:a27ed25c1ab7646ec8da70"/>

        <activity
            android:name=".ui.Screensaver"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_test"
            android:theme="@style/AnimationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AnimationActivity"
            android:label="@string/title_activity_second"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.Login"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.Auth"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.SecondActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ThemesActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.QuestionActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ListQuestions"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.GameActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />

    </application>

</manifest>